* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-image: url(../imageess/uleam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}    
main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 280px;
    position: relative;
    top: -6px;
    left: 3px;

    transition: left 500ms cubic-bezier(0.175,0.885,1.275);
}
.contenedor__login-register form{
    width: 200%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius:  20px;
}

.contenedor__login-register form h2{
    font-size:  30px;
    text-align: center;
    margin-bottom:  20px;
    color: #46a2fd;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46a2fd;
    color: white;
    cursor: pointer;
    outline: none;
}

.formulario__login{
    opacity: 1;
    display:black;
}